In [82]:
# import packages
import pandas as pd
from geopy.distance import great_circle
import datetime
import matplotlib.pyplot as plt
from datetime import timedelta

In [49]:
# Read in .csv
df = pd.read_csv('AIS_2017_01_Zone11.csv')

In [50]:
# Make a copy of the dataframe
df_orgin = df

In [52]:
#Convert time type
df['BaseDateTime'] = pd.to_datetime(df['BaseDateTime'])
df.head(20)

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo
0,367067810,2017-01-01 00:00:06,33.74757,-118.21565,0.0,181.7,511.0,NaN,NaN,NaN,NaN,undefined,NaN,NaN,NaN,NaN
1,367001740,2017-01-01 00:00:07,33.34445,-118.32208,0.1,81.0,159.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,NaN
2,236000990,2017-01-01 00:00:16,32.70992,-117.23312,0.0,203.1,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,538004441,2017-01-01 00:00:36,33.74393,-118.20837,0.0,-99.6,310.0,NaN,NaN,NaN,NaN,moored,NaN,NaN,NaN,NaN
4,367452560,2017-01-01 00:01:10,32.76216,-117.23657,0.0,-49.6,511.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,NaN
5,319018800,2017-01-01 00:01:17,32.70976,-117.23350,0.0,-69.7,344.0,NaN,NaN,NaN,NaN,moored,NaN,NaN,NaN,37.0
6,367599960,2017-01-01 00:01:24,33.72064,-118.27863,0.0,-49.6,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,367371520,2017-01-01 00:01:33,33.61821,-117.92194,0.0,20.3,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,367506730,2017-01-01 00:01:40,33.97614,-118.44953,0.0,16.5,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,338139535,2017-01-01 00:01:47,33.71937,-118.05758,0.1,190.7,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,367452560,2017-01-01 00:00:01,32.76217,-117.23659,0.0,-49.6,511.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,NaN
11,338067800,2017-01-01 00:00:02,33.98221,-118.45075,0.1,-49.6,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,338084318,2017-01-01 00:00:38,33.34565,-118.32471,0.1,-100.3,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,338162425,2017-01-01 00:01:06,33.72281,-118.06874,0.0,-163.3,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,366988960,2017-01-01 00:01:09,33.76702,-118.22049,0.0,0.0,511.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,31.0
15,338218142,2017-01-01 00:01:14,32.72558,-117.18964,0.1,84.4,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,319160000,2017-01-01 00:01:14,33.61746,-117.92710,0.0,-128.3,62.0,NaN,NaN,NaN,NaN,moored,NaN,NaN,NaN,37.0
17,369567000,2017-01-01 00:01:15,33.71530,-119.77934,10.6,-135.9,270.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,5.9,99.0
18,367042740,2017-01-01 00:01:16,32.72407,-117.22603,0.0,-49.6,511.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,NaN
19,366999840,2017-01-01 00:01:17,33.97586,-118.44641,0.0,0.0,67.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,NaN

In [78]:
df.loc[1,"MMSI":'LON']

MMSI                      367001740
BaseDateTime    2017-01-01 00:00:07
LAT                         33.3445
LON                        -118.322
Name: 1, dtype: object

In [85]:
t = df['new_time'][1]
t+timedelta(seconds=60)

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [38]:
# Start trying to find colregs

In [54]:
df_sort = df.sort_values(by=['MMSI','LAT','LON','BaseDateTime'])

In [55]:
df_sort.head(10)

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo
740498,1193046,2017-01-03 16:53:25,32.67137,-117.12294,6.5,73.0,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
746566,1193046,2017-01-03 16:58:43,32.67252,-117.11967,0.0,0.0,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
738850,1193046,2017-01-03 17:03:03,32.67568,-117.12825,8.6,-79.4,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
742139,1193046,2017-01-03 16:49:15,32.67631,-117.12876,6.6,147.8,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
735578,1193046,2017-01-03 16:48:05,32.67809,-117.13024,6.9,142.5,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
734921,1193046,2017-01-03 16:47:04,32.67966,-117.13169,6.9,145.4,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
742212,1193046,2017-01-03 17:05:14,32.67976,-117.13193,8.5,-90.6,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
1187263,1193046,2017-01-03 16:44:54,32.68299,-117.13337,5.7,-187.2,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
733845,1193046,2017-01-03 16:36:24,32.68382,-117.13895,10.0,121.8,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0
717066,1193046,2017-01-03 15:18:44,32.68412,-117.13801,9.4,-138.2,511.0,NAUTICAST,IMO303174162,D11233,50.0,engaged in fishing,220.0,43.0,-0.8,50.0

In [57]:
df['new_date'] = [d.date() for d in df['BaseDateTime']]
df['new_time'] = [d.time() for d in df['BaseDateTime']]

In [58]:
df.head()

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,new_date,new_time
0,367067810,2017-01-01 00:00:06,33.74757,-118.21565,0.0,181.7,511.0,NaN,NaN,NaN,NaN,undefined,NaN,NaN,NaN,NaN,2017-01-01,00:00:06
1,367001740,2017-01-01 00:00:07,33.34445,-118.32208,0.1,81.0,159.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,NaN,2017-01-01,00:00:07
2,236000990,2017-01-01 00:00:16,32.70992,-117.23312,0.0,203.1,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-01,00:00:16
3,538004441,2017-01-01 00:00:36,33.74393,-118.20837,0.0,-99.6,310.0,NaN,NaN,NaN,NaN,moored,NaN,NaN,NaN,NaN,2017-01-01,00:00:36
4,367452560,2017-01-01 00:01:10,32.76216,-117.23657,0.0,-49.6,511.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,NaN,2017-01-01,00:01:10

In [59]:
df_sort = df.sort_values(by=['MMSI','LAT','LON','new_date','new_time'])

In [ ]:
for i in 10000:
    roi = df.loc[i,"MMSI":'LON']
    for j in 10000:
        lat = df.loc[j,'LAT']
        lon = df.loc[j,'LON']
        mmsi = df.loc[j,'MMSI']
        date = df.loc[j,'new_date']
        time = df.loc[j,'new_time']
        if roi['new_date'] == df.loc[j,'LAT']&& roi['LAT'] == df.loc[j,'LAT']&& roi['LAT'] == df.loc[j,'LAT']